.Search {
  padding: 0px 15px;
}

.Search input {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px lightgrey solid;
  padding-bottom: 10px;
  width: 100%;
  font-size: 18px;
}

.Search input::placeholder {
  color: darkgrey;
}

.Search input:focus {
  border-bottom: 1px black solid;
}
