.Students {
  width: 100%;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: scroll;
  background: #ffffff;
  border-radius: 10px;
  display: grid;
  flex-direction: column;
}

.Students-search-group {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Students-list > :not(:last-child) {
  border-bottom: 1px solid #efefef;
}
