.Students {
  width: 100%;
  max-width: 800px;
  height: 600px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Students-search-group {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Students-list {
  height: 500px;
  overflow-y: auto;
}

.Students-list > :not(:last-child) {
  border-bottom: 1px solid #efefef;
}
