.Tags {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Tags-list {
  display: flex;
  gap: 5px;
  padding: 0px 6px;
}

.Tags-item {
  background: lightgrey;
  padding: 9px;
  border-radius: 4px;
  margin: 6px 0px;
}

.Tags input {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px lightgrey solid;
  padding-bottom: 8px;
  padding-left: 4px;
  width: 160px;
  font-size: 16px;
}

.Tags input::placeholder {
  color: darkgrey;
}

.Tags input:focus {
  border-bottom: 1px black solid;
}
